$bg-color-h: 216;
$bg-color-s: 45%;
$bg-color-l: 98%;

$primary-color-h: 45;
$primary-color-s: 100%;
$primary-color-l: 58%;

$secondary-color-h: 0;
$secondary-color-s: 0%;
$secondary-color-l: 10%;

$danger-color-h: 357;
$danger-color-s: 70%;
$danger-color-l: 31%;

$approve-color-h: 134;
$approve-color-s: 61%;
$approve-color-l: 41%;