@import "custom-properties.scss";
@import "inputs.scss";
@import url(//db.onlinewebfonts.com/c/3b12f78c783e678acc1f0fefe8e46380?family=Museo+Sans+300);

* {
  box-sizing: border-box;
  font-family: 'Museo Sans 300', sans-serif;
}

body {
  background-color: hsl(var(--bg-color-h), var(--bg-color-s), var(--bg-color-l));
}

button {
  border: none;
  padding: var(--base-space);
  cursor: pointer;
  padding: var(--base-space) calc(var(--base-space) * 2);
  font-weight: 500;
  color: hsl(var(--bg-color-h), var(--bg-color-s), var(--bg-color-l));
  border-radius: var(--interactable-border-radious);
  background-color: hsl(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l));

  &:hover {
    background-color: hsla(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l), 0.9);
  }

  &:active {
    background-color: hsla(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l), 0.8);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: hsla(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l), 0.7);
    color: hsla(var(--bg-color-h), var(--bg-color-s), var(--bg-color-l), 0.7);
  }
}

ol {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  gap: var(--base-space);
  padding: 0 var(--base-space);
}

table {
  display: block;

  tr {
    display: flex;
    flex-direction: column;
    padding: var(--base-space) 0;

    &:not(:last-child) {
      border-bottom: 1px solid hsla(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l), 0.1);
    }

    th {
      font-weight: 700;
    }
  }
}

@media (min-width: 668px) {
  table {
    display: flex;
    flex-direction: column;

    tr {
      display: flex;
      flex-direction: row;
    }
  }
}
