input[type=search] {
    border: none;
    padding: var(--base-space);
    background-color: hsl(var(--bg-color-h), var(--bg-color-s), var(--bg-color-l));
    border-radius: var(--interactable-border-radious);
    border: 3px solid transparent;
    min-width: calc(var(--base-space) * 20);

    &.required {
        border-color: hsl(var(--danger-color-h), var(--danger-color-s), var(--danger-color-l));
    }

    &::-webkit-search-cancel-button{
        cursor: pointer;
    }
}