@import "table.scss";
@import "text.scss";
@import "../4.base/base";

.cards {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 2rem auto auto auto;

  &__el {
    max-width: 200px;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    cursor: pointer;
    width: 100%;

    img {
      width: 100%;
      max-width: 100px;
      padding: 1rem;
      margin: auto;
    }

    figcaption {
      text-align: center;
      padding: 1rem;
      margin: auto;
    }
  }
}


.position-rel {
  position: relative;
}

.mg-top--md {
  margin-top: var(--base-space);
}